<!-- 版权 -->
<footer class="footer card py-3 py-lg-3">
<div class="container">
	<div class="footer-copyright text-xs px-3">
		<div class="float-left">
			© 2020 Copyright 
			<%= site.customConfig.footzb %> 
		</div>
		<div class="float-right d-none">
			<%- themeConfig.footerInfo %> | Theme by <a href="//803344.xyz/" title="Art" target="_blank">Art</a>
			</div>
	</div>
</div>
</footer>