<!-- 版权 -->
<footer class="footer card py-3 py-lg-3">
<div class="container">
	<div class="footer-copyright text-xs px-3">
		<div class="float-left">
			Copyright © 2020 
			<%- themeConfig.footerInfo %>
		</div>
		<div class="float-right d-none">
			  Designed by <a href="//803344.xyz/" title="Art" target="_blank">Art</a>
			移植 <a href="//www.hankin.cn/" title="" rel="home">hankin主题</a>
			</div>
	</div>
</div>
</footer>