<!-- [ 顶部/标头 ]  start -->
<header class="navbar pcoded-header navbar-expand-lg navbar-light header-blue ">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
        <a href="<%= themeConfig.domain %>" class="b-brand">
            <!-- ========   change your logo hear   ============ -->
                        <img src="<%= cdn %>/media/images/logo.png" alt="" class="logo" width="68" height="auto">
                    </a>
        <a href="#!" class="mob-toggler">
            <i class="feather icon-more-vertical"></i>
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav top-navbar-nav">
		<% if (topnav) { %>
		<% for (let i = 0; i < topnav.length; i++) {%>
                <li>
                    <a href="<%= topnav[i].link %>"><%= topnav[i].name %></a>
                </li>
		<% } %>
		<% } %>
        </ul>








        <ul class="navbar-nav ml-auto" style=" height: 0px; ">

            <li class="nav-item m-r-10"><a href="javascript:void(0)" class="nav-switch-dark-mode text-lg" title="关灯">
                <i class="feather icon-moon"></i></a>
            </li>
            <li class="nav-item">
                <a href="/soso" class="pop-search text-lg"><i class="feather icon-search"></i></a>
                
            </li>
        </ul>

      
    </div>


</header>
<!-- [ 顶部/标头 ] end -->